@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-size: 16;
}

/*** Header ***/
#navbar {
  background-color: rgb(165, 42, 42);
  padding: 0;
}
#navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#navbar > div {
  padding: 0;
}
.navbar-brand {
  margin-left: 10px;
  padding: 10px 6px;
}
.navbar-toggler {
  font-size: 1rem;
  margin-right: 10px;
  padding: 0.25rem 0.5rem;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}
.navbar-nav {
  padding-top: 5px;
}
.navbar-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#navbar-item-chicken {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
/*** End Header ***/

/*** Main ***/
h1, h2 {
  padding: 10px 0;
}
.row {
  padding: 0 1rem;
}
/*** End Main ***/
